<ion-grid class="container ion-no-border" slot="fix">
  <ion-row class="row-1">
    <ion-button
      class="timer-1"
      (click)="handleOnClick(currentPlayer)"
      expand="full"
      [color]="isPlayerDisabled(playerOne) ? 'danger' : 'success'"
      [disabled]="isPlayerDisabled(playerOne)"
    >
      {{ playerOneTime | time }}
    </ion-button>
  </ion-row>
  <ion-row class="divider">
    <ion-button class="divider-buttons" [disabled]="!preGame" (click)="boardSwap()"> SWAP </ion-button>
    <ion-button class="divider-buttons" (click)="onSettingsClick()"> SETTINGS </ion-button>
    <ion-button class="divider-buttons" [disabled]="preGame" (click)="restartGame()"> RESTART </ion-button>
    <ion-button class="divider-buttons" [disabled]="preGame || gameOver" (click)="pauseGame()"> {{ isPaused ? 'Resume' : 'Pause'}}</ion-button>
  </ion-row>
  <ion-row class="row-2">
    <ion-button
      class="timer-2"
      (click)="handleOnClick(currentPlayer)"
      expand="full"
      [color]="isPlayerDisabled(playerTwo) ? 'danger' : 'success'"
      [disabled]="isPlayerDisabled(playerTwo)"
    >
      {{ playerTwoTime | time }}
    </ion-button>
  </ion-row>
</ion-grid>
