.container { 
    margin: 0;
    padding: 0;
        
    .row-1, 
    .row-2 {
        height: 50%;

        .timer-1, 
        .timer-2 {
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }
}
